<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939401085199-vck5929k0h9v5unimhl81nmkpk0vc559.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939401085199-vck5929k0h9v5unimhl81nmkpk0vc559</string>
	<key>API_KEY</key>
	<string>AIzaSyDO4qF28vMycF-MNQpRiEgwt2E0CTry91w</string>
	<key>GCM_SENDER_ID</key>
	<string>939401085199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kingu</string>
	<key>PROJECT_ID</key>
	<string>kingu-42</string>
	<key>STORAGE_BUCKET</key>
	<string>kingu-42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939401085199:ios:8cba0a944ac0b32a413e7a</string>
	<key>DATABASE_URL</key>
	<string>https://kingu-42.firebaseio.com</string>
</dict>
</plist>